.page {
    position: relative;
    width: 100%;
    height: 100vh;
}

.page-grid {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    animation: 1s ease-out 0s 1 slideInFromLeft;
}

.img img {
    max-width: 23rem;
    width: 100%;
    border-radius: 15px;
}

@keyframes slideInFromLeft {
    0% {
      opacity: 0;
      transform: translateX(-10%);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }

@keyframes slideInFromRight {
    0% {
      opacity: 0;
      transform: translateX(10%);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }

@keyframes slideInFromTop {
    0% {
        opacity: 0;
        transform: translateY(-10%);
      }
      100% {
        opacity: 1;
        transform: translateY(0);
    }   
}

.text h3 {
    font-size: 2.5rem;
    color: var(--main);
}

.red-color {
    color: var(--secondary);
}

.text p {
    font-size: 1.5rem;
    color: var(--main);
}

#typed {
    color: var(--secondary);
}

.page {
    width: 100vw;
    background: linear-gradient(to bottom right, rgb(0, 0, 0, 1), rgb(0, 0, 0, 0.5) ), 
    url(../img/code_programming_text_140050_1920x1080.jpg) no-repeat;
    object-fit: contain;
}

.downloadcv {
    top: 15rem;
    left: 0px;
    z-index: 5;
    position: absolute;
}

.downloadcv a {
    font-size: 1.5rem;
    padding: 10px;
    color: var(--button);
}

.contact-link {
    padding: 0;
}

.contact-link li {
    list-style-type: none;
    padding: 0.2rem 0.2rem;
    text-align: center;
    border: 1px solid var(--button);
}

.contact-link li a {
    font-size: 1.5rem;
}

.timeline-grid {
    width: 100%;
    height: 100vh;
    background: linear-gradient(to bottom right, rgb(0, 0, 0, 1), rgb(0, 0, 0, 0.5) ),
    url(../img/hourglass_stones_blur_120797_1920x1080.jpg) no-repeat;
    background-size: cover;
    margin: 0;
    padding: 0;
}

.timeline {
    position: relative;
    margin: 0 auto;
    width: 1000px;
    padding: 60px 0;
    height: 83vh;
}

.timeline:before {
    content: "";
    position: absolute;
    left: 50%;
    width: 2px;
    height: 86vh;
    background-color: var(--paragraph);
}

.timeline ul {
    margin: 0;
    padding: 0;
}

.timeline ul li {
    list-style-type: none;
    position: relative;
    width: 50%;
    padding: 20px 40px;
    box-sizing: border-box;
    border: 1px solid var(--paragraph);
    border-radius: 5px;
    margin: 10px -45px;
    background-color: var(--background);
}

.timeline ul li:nth-child(odd) {
    float: left;
    clear: both;
    text-align: right;
}

.timeline ul li:nth-child(even) {
    float: right;
    clear: both;
    text-align: left;
}

.timeline ul li:nth-child(odd)::before {
    content: '';
    position: absolute;
    top: 35px;
    right: -52px;
    width: 10px;
    height: 10px;
    background: rgba( 223, 33, 99, 1);
    border-radius: 50%;
    box-shadow: 0 0 0 3px rgba( 223, 33, 99, 0.2);
}

.timeline ul li:nth-child(even)::before {
    content: '';
    position: absolute;
    top: 35px;
    left: -50px;
    width: 10px;
    height: 10px;
    background: rgba( 223, 33, 99, 1);
    border-radius: 50%;
    box-shadow: 0 0 0 3px rgba( 223, 33, 99, 0.2);
}

.timeline ul li .time h4 {
    margin: 0;
    padding: 0;
    font-size: 14px;
    color: var(--secondary);
}

.timeline ul li .time {
    padding: 15px;
    border: 1px solid var(--main);
    background-color: var(--background);
    border-radius: 999px;
}

.timeline ul li:nth-child(odd) .time {
    position: absolute;
    top: 20px;
    right: -165px;
    margin: 0;
    padding: 8px 16px;
}

.timeline ul li:nth-child(even) .time {
    position: absolute;
    top: 20px;
    left: -165px;
    margin: 0;
    padding: 8px 16px;
}

.timeline ul li:nth-child(odd) {
    animation: 1s ease-out 0s 1 slideInFromLeft;
}

.timeline ul li:nth-child(even) {
    animation: 1s ease-out 0s 1 slideInFromRight;
}

.timeline:before {
    animation: 1s ease-in 0s 1 slideInFromTop;
}

.content h3 {
    font-size: 1.5rem;
    margin: 0;
    color: var(--highlight);
}

.content p {
    font-size: 1rem;
    color: var(--main);
}

.skill {
    width: 100%;
    height: 100vh;
    position: relative;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom right, rgb(0, 0, 0, 1), rgb(0, 0, 0, 0.5) ),
    url(../img/164609.jpg) no-repeat;
    background-size: cover;
    flex-direction: column;
}

.line-percent {
    position: absolute;
}

.chart {
    width: 50%;
    height: 550px;
    display: flex;
    justify-content: space-evenly;
    margin: 0 auto;
    border-bottom: 3px solid var(--secondary);
    border-left: 3px solid var(--secondary);
    box-sizing: border-box;

}

.chart-layout {
    align-self: flex-end;
    width: 20px;
    background-color: var(--button);
    height: var(--percent);
    animation: growth ease-in 2s;
    text-align: center;
    color: var(--background);
    font-weight: 700;
}

@keyframes growth {
    from {
        opacity: 0;
        height: calc(var(--percent) - 50%);
    }
    to {
        opacity: 1;
        height: var(--percent);
    }
}

/* .line {
 
    display: flex;
    width: 25px;
    height: 5px;
    background-color: red;
    margin-top: 50px;
} */

.js {
    background-color: var(--main);
}

.html {
    background-color: var(--button);
}

.css {
    background-color: var(--secondary);
}

.name {
    margin-top: 2rem;
    width: 50%;
    display: flex;
    justify-content: space-evenly;
    margin: 0 auto;
    animation: 1.5s ease-out 0s 1 slideInFromLeft;
}

.name span {
    font-size: 1rem;
    width: 20px;
    text-align: center;
    color: var(--main);
}

#fp-nav {
    right: 10px;
}



.fp-right ul li a span:nth-child(1) {
    color: var(--main);
    align-items: center;
    visibility: hidden;
}

.fp-right ul li a span:nth-child(2) {
    background-color: var(--button) !important;
    box-shadow: 0 0 0 2px var(--paragraph);
}

.fp-tooltip {
    right: 25px;
    justify-content: center;
}